html
	head
		include mixin
		+head-premade("Violet Star Home")

	body(onLoad="getActiveTab('home')")
		.container
			+navbar(true, false)

			.row
				.col-sm-12
					h1.text-center.dark-head Coming soon

		+script-imports